@import "../variable/variables";

.btn-section{
    background-color: $white-color;
    padding: 70px 0px;
    width: 100%;
    .container{
    .two-buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

        .employer-btn{
            padding: 30px 100px;
                    background-color: $primary-color;
                    color: $white-color;
                    font-size: 36px;
                    font-family: $font-outfit;
                    font-weight: 400;
                    border: 0px;
        }
        .job-seekers-btn{
            padding: 30px 100px;
                    background-color: $acsent-color;
                    color: $white-color;
                    font-size: 36px;
                    font-family: $font-outfit;
                    font-weight: 400;
                    border: 0px;
        }
    }
}
}