/** header section start **/
@import "../variable/variables";



.header-section{
    .top-header{
        background-color: $primary-color;
        width: 100%;
        padding: 10px 0px;

        .contact-info{
                gap: 32px;
                color: $white-color;
                font-family: $font-outfit;
                font-size: $font-size-p;
                font-weight: $font-weight-p;
                align-items: center;
    
                p{
                    margin-bottom: 0px;
                }
                }

                .social-icon{
                    display: flex;
                    gap: 18px;
                    align-items: center;
                    justify-content: end;
                }
    }


.bottom-header{
    background-color: $white-color;
        width: 100%;
        padding: 20px 0px;
        align-items: center;

        .container{
            .main-navbar{
                align-items: center;
                
                .container{
                    .nav-logo-img{
                        width: 195px;
                        height: auto;
                    }

                    .nav-items{
                        justify-content: end;
                        .navbar-nav{
                            .nav-item-active{
                                font-size: 18px;
                                font-family: $font-outfit;
                                font-weight: 500;
                                margin-right: 16px;
                                display: flex;
                                align-items: center;  
                            }
                            .nav-item{
                                font-size: 18px;
                                font-family: $font-outfit;
                                font-weight: 500;
                                margin-right: 16px;
                                display: flex;
                                align-items: center;
                            }
                            .apply-now-btn{
                                padding: 18px 56px;
                                background-color: $primary-color;
                                color: $white-color;
                                font-size: 18px;
                                font-family: $font-outfit;
                                font-weight: 500;
                                border: 0px;
                            }
                        }
                    }
                }
            }
        }
}
}
/** header section end **/

@media screen and (max-width:576px) {
    .contact-info{
        flex-direction: column;
        gap: 0px !important;
        padding: 0px 20px;
        align-items: start;
    }
    .social-icon-area{
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .banner-text{
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .banner-text h1{
            font-size: 42px !important;
    }
}