@import "../variable/variables";

.skilled-nurse-wrapper{
    background-color: $bg-color;
    padding: 100px 0px;

    .sn-content{
        padding: 20px;
        gap: 10px;
        display: flex;
        flex-direction: column;

        h2{
            font-family: $font-outfit;
            font-size: 42px;
            font-weight: 800;
            color: $black-color;
        }
        p{
            font-size: 26px;
            font-family: $font-outfit;
            color: #3E4427;
        }

        .ap-btn-orange{
            padding: 18px 75px;
            background-color: $acsent-color;
            color: $white-color;
            font-size: 18px;
            font-family: $font-outfit;
            font-weight: 500;
            border: 0px;
        }
    }
}