/** header section start **/
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
.header-section .top-header {
  background-color: #188100;
  width: 100%;
  padding: 10px 0px;
}
.header-section .top-header .top-main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-section .top-header .top-main-header .contact-info {
  display: flex;
  gap: 32px;
  color: #FFFFFF;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 500;
  align-items: center;
}
.header-section .top-header .top-main-header .contact-info p {
  margin-bottom: 0px;
}
.header-section .top-header .top-main-header .social-icon {
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: end;
}
.header-section .bottom-header {
  background-color: #FFFFFF;
  width: 100%;
  padding: 20px 0px;
  align-items: center;
}
.header-section .bottom-header .bottom-main-header .main-navbar {
  align-items: center;
}
.header-section .bottom-header .bottom-main-header .nav-logo-img {
  width: 195px;
  height: auto;
}
.header-section .bottom-header .bottom-main-header .nav-items {
  justify-content: end;
}
.header-section .bottom-header .bottom-main-header .nav-item-active {
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  margin-right: 16px;
  display: flex;
  align-items: center;
}
.header-section .bottom-header .bottom-main-header .nav-item {
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  margin-right: 16px;
  display: flex;
  align-items: center;
}
.header-section .bottom-header .bottom-main-header .apply-now-btn {
  padding: 18px 56px;
  background-color: #188100;
  color: #FFFFFF;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  border: 0px;
}

/** header section end **/
.bannersection {
  background-color: #CAE0C1;
  height: auto;
}
.bannersection .container .main-banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bannersection .container .main-banner .banner-text {
  width: 100%;
  height: auto;
  gap: 8px;
}
.bannersection .container .main-banner .banner-text h1 {
  font-family: "Outfit", sans-serif;
  font-size: 70px;
  font-weight: 700;
  padding-bottom: 10px;
}
.bannersection .container .main-banner .banner-text h4 {
  font-family: "Outfit", sans-serif;
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 10px;
}
.bannersection .container .main-banner .banner-text .learn-more-btn {
  padding: 18px 75px;
  background-color: #EE7A03;
  color: #FFFFFF;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  border: 0px;
}
.bannersection .container .main-banner .banner-img {
  width: 100%;
}
.bannersection .container .main-banner .banner-img img {
  width: 50%;
  height: auto;
}

.btn-section {
  background-color: #FFFFFF;
  padding: 70px 0px;
  width: 100%;
}
.btn-section .container .two-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.btn-section .container .two-buttons .employer-btn {
  padding: 30px 100px;
  background-color: #188100;
  color: #FFFFFF;
  font-size: 36px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  border: 0px;
}
.btn-section .container .two-buttons .job-seekers-btn {
  padding: 30px 100px;
  background-color: #EE7A03;
  color: #FFFFFF;
  font-size: 36px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  border: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

span, a {
  display: inline-block;
}

.container-top-header {
  max-width: 1440px;
  margin: 0 auto;
}

.container-bottom-header {
  max-width: 1440px;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */